$fonts: (
  'roboto': 'Roboto',
  'montserrat': 'Montserrat'
);

$bright-sun-yellow: #FAD83B;
$mine-shaft-grey: #2C2C2C;

$colours: (
  'white': #FFFFFF,
  'black': #000000,
  'tulip-tree-orange': #E6A73F,
  'hoki-blue': #607E99,
  'spicy-mix-brown': #805246,
  'primary-colour': $bright-sun-yellow,
  'primary-background-colour': $mine-shaft-grey
);

$shadows: (
  'black-2': rgba(0, 0, 0, 0.2),
  'black-12': rgba(0, 0, 0, 0.12),
  'black-14': rgba(0, 0, 0, 0.14)
);



$coloursNEW: (
  'bright-sun-yellow': #FAD83B, //primary
  'marigold-yellow': #fbe26d, //secondary
  '1': rgba(0,0,0,0.1), // hover on yellow
  '2': rgba(0,0,0,0.68), // text on yellow
  '3': #2c2c2c // background color
);
